body {
    width: 1920px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

header {
    background-color: #ccc;
}

.container {
    max-width: 1140px;
    height: 700px;
    margin: 0 auto;
}

nav {
    padding-top: 79px;
}

.shapka {
    padding-top: 257px;
}

nav>span { 
    padding-right: 20px;
    font-weight: 500;
}

h1 { 
    padding-bottom: 25px;
    font-weight: 500;
}

p {
    padding-bottom: 30px;
    width: 540px;
    font-weight: 400;
}

a {
    color: white;
    cursor: pointer;
    text-decoration:none;
    font-weight: 400;
    background-color: #34547A;
    padding: 20px 40px;
}

.info {
    background-color: #FFFF;
    text-align: center;
    width: 540px;
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.container1 {
    background-color: #34547A;
    height: 250px;
}

ul {
    max-width: 1140px;
    margin: 0 auto;
    padding-inline-start: 0;
}

li {
    display: inline-block;
    padding-right: 40px;
    text-align: center;
}

.img {
    display: inline-block;
    padding-top: 100px;
}

.describe {
    display: inline-block;
}

.describe>strong {
    display: block;
    font-weight: 500;
}

.describe>span {
    font-weight: 400;
}

footer {
    background-color: #34547A;
    margin-top: 60px;
}

.describe1 {
    max-width: 1140px;
    margin: 0 auto;
}

.info2 {
    text-align: center;
    width: 540px;
    max-width: 1140px;
    margin: 0 auto;
}

footer {
    height: 151px;
    margin-top: 0;
}

.describe1>strong {
    padding-top: 50px;
    display: block;
    font-weight: 500;
}

.describe1>span {
    font-weight: 400;
    padding-top: 20px;
    display: block;
}